<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
        </svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 brz">
        <li><a href="home" class="brz">Home</a></li>
        <li><a href="home/profile" class="brz">My profile</a></li>
        <li><a href="/my-appointments" class="brz">My appointments</a></li>
        <li><a href="/appointment" class="brz">Make an appointment</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl brz">Health hub</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="home" class="brz">Home</a></li>
      <li><a href="home/profile" class="brz">My profile</a></li>
      <li><a href="/my-appointments" class="brz">My appointments</a></li>
      <li><a href="/appointment" class="brz">Make an appointment</a></li>

    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn btn-primary brz" href="#" (click)="service.logOut()">Log out</a>
  </div>
</div>


<div class="container mx-auto mt-20">

  <div class="mb-10">
    <div *ngIf="famDocId == null">
      <p class="text-xl font-normal">You don't have a family doctor yet.</p>
      <a class="btn btn-primary mt-2" onclick="chooseFamilyDoctorModal.showModal()">Choose a family doctor</a>
    </div>

    <div *ngIf="famDocId != null">
      <p class="text-xl font-normal">Your family doctor: <span class="font-semibold">{{ doctor?.firstname }} {{ doctor?.lastname }}</span>.</p>
      <a class="btn btn-primary mt-2" onclick="chooseFamilyDoctorModal.showModal()">Change a family doctor</a>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-8">
    <div class="collapse collapse-arrow bg-base-200 brz">
      <input type="radio" name="main-accordion" />
      <div class="collapse-title text-xl font-medium">
        Information about your medical card
      </div>
      <div class="collapse-content">
        <div class="collapse">
          <input type="radio" name="main-accordion-content-1">
          <a class="collapse-title text-lg btn btn-primary my-3 brz">
            Medical history and anamnesis
          </a>
          <div class="collapse-content">
            <div class="ps-5" *ngIf="medCard.medHistory.length == 0">
              Empty
            </div>
            <div class="ps-5" *ngIf="medCard.medHistory.length > 0">
              <table class="table">
                <thead>
                  <tr class="bg-base-200">
                    <th>Disease</th>
                    <th>Description</th>
                    <th>Date of illness</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let medHistory of this.medCard.medHistory">
                    <td>{{ medHistory.disease }}</td>
                    <td>{{ medHistory.description }}</td>
                    <td>{{ medHistory.dateOfIllness }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="collapse">
          <input type="radio" name="main-accordion-content-1">
          <a class="collapse-title text-lg btn btn-primary my-3 brz">
            Blood type and Rh factor
          </a>
          <div class="collapse-content">
            <div class="ps-5" *ngIf="medCard.bloodType === null || medCard.rhFactor === null">
              Empty
            </div>
            <div class="ps-5" *ngIf="medCard.bloodType !== null && medCard.rhFactor !== null">
              Blood type: {{ medCard.bloodType }} <br />
              Rh factor: {{ medCard.rhFactor }}
            </div>
          </div>
        </div>

        <div class="collapse">
          <input type="radio" name="main-accordion-content-1">
          <a class="collapse-title text-lg btn btn-primary my-3 brz">
            Allergies and reactions to medications
          </a>
          <div class="collapse-content">
            <div class="ps-5" *ngIf="medCard.allergies.length == 0">
              Empty
            </div>
            <div class="ps-5" *ngIf="medCard.allergies.length > 0">
              <table class="table">
                <thead>
                  <tr class="bg-base-200">
                    <th>Allergy</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let allergy of this.medCard.allergies">
                    <td>{{ allergy.allergy }}</td>
                    <td>{{ allergy.description }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="collapse">
          <input type="radio" name="main-accordion-content-1">
          <a class="collapse-title text-lg btn btn-primary my-3 brz">
            Chronic diseases
          </a>
          <div class="collapse-content">
            <div class="ps-5" *ngIf="medCard.chronicDiseases.length == 0">
              Empty
            </div>
            <div class="ps-5" *ngIf="medCard.chronicDiseases.length > 0">
              <table class="table">
                <thead>
                  <tr class="bg-base-200">
                    <th>Disease</th>
                    <th>Description</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let chronicDisease of this.medCard.chronicDiseases">
                    <td>{{ chronicDisease.disease }}</td>
                    <td>{{ chronicDisease.description }}</td>
                    <td>{{ chronicDisease.date }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="collapse collapse-arrow bg-base-200 brz">
      <input type="radio" name="main-accordion" />
      <div class="collapse-title text-xl font-medium">
        Electronic appointments and prescriptions
      </div>
      <div class="collapse-content">
        <div class="collapse">
          <input type="radio" name="main-accordion-content-2">
          <a class="collapse-title text-lg btn btn-primary my-3 brz">
            Doctor's prescriptions and appointments
          </a>
          <div class="collapse-content">
            <div class="ps-5">
              Empty
            </div>
          </div>
        </div>

        <div class="collapse">
          <input type="radio" name="main-accordion-content-2">
          <a class="collapse-title text-lg btn btn-primary my-3 brz">
            Dosages, administration instructions and frequency
          </a>
          <div class="collapse-content">
            <div class="ps-5">
              Empty
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="collapse collapse-arrow bg-base-200 brz">
      <input type="radio" name="main-accordion" />
      <div class="collapse-title text-xl font-medium">
        History of visits
      </div>
      <div class="collapse-content">
        <div class="collapse">
          <input type="radio" name="main-accordion-content-3">
          <a class="collapse-title text-lg btn btn-primary my-3 brz">
            Dates and descriptions of previous visits to doctors
          </a>
          <div class="collapse-content">
            <div class="ps-5">
              Empty
            </div>
          </div>
        </div>

        <div class="collapse">
          <input type="radio" name="main-accordion-content-3">
          <a class="collapse-title text-lg btn btn-primary my-3 brz">
            Treatment recommendations
          </a>
          <div class="collapse-content">
            <div class="ps-5">
              Empty
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="collapse collapse-arrow bg-base-200 brz">
      <input type="radio" name="main-accordion" />
      <div class="collapse-title text-xl font-medium">
        Results of examinations and analyzes
      </div>
      <div class="collapse-content">
        <div class="collapse">
          <input type="radio" name="main-accordion-content-4">
          <a class="collapse-title text-lg btn btn-primary my-3 brz">
            Results of laboratory and instrumental examinations
          </a>
          <div class="collapse-content">
            <div class="ps-5" *ngIf="medCard.resultsOfSurveys.length == 0">
              Empty
            </div>
            <div class="ps-5" *ngIf="medCard.resultsOfSurveys.length > 0">
              <table class="table">
                <thead>
                  <tr class="bg-base-200">
                    <th>Title</th>
                    <th>Description</th>
                    <th>Survey's date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let resultOfSurvey of this.medCard.resultsOfSurveys">
                    <td>{{ resultOfSurvey.title }}</td>
                    <td>{{ resultOfSurvey.description }}</td>
                    <td>{{ resultOfSurvey.surveysDate }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="collapse">
          <input type="radio" name="main-accordion-content-4">
          <a class="collapse-title text-lg btn btn-primary my-3 brz">
            Physician interpretation of results
          </a>
          <div class="collapse-content">
            <div class="ps-5">
              Empty
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<dialog id="chooseFamilyDoctorModal" class="modal">
  <div class="modal-box brz">
    <h3 class="font-bold text-lg">Choose family doctor</h3>
    <form #chooseFamDoctor="ngForm" (ngSubmit)="setFamilyDoctor(chooseFamDoctor)">
      <select name="familyDoctor" class="select select-bordered w-full mt-5" ngModel #familyDoctor="ngModel">
        <option selected disabled>Choose a doctor</option>
        <option *ngFor="let doctor of doctors" value="{{doctor.id}}">{{doctor.firstname}} {{doctor.lastname}}</option>
      </select>

    <div class="modal-action">
        <button type="button" class="btn brz" onclick="chooseFamilyDoctorModal.close()">Close</button>
        <button type="submit" class="btn brz" onclick="chooseFamilyDoctorModal.close()">Save</button>
    </div>
    </form>
  </div>
</dialog>
