<div class="container">
  <div class="dropdown col-2 ms-auto mb-5">
      <button class="btn btn-primary dropdown-toggle col-12" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Menu
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="home">Home</a></li>
        <li><a class="dropdown-item" href="home/profile">My profile</a></li>
        <li><a class="dropdown-item" href="#">Options</a></li>
        <li><a class="dropdown-item" href="#" (click)="service.logOut()">Log out</a></li>
      </ul>
  </div>

  <div class="row gx-0">

    <div class="accordion col-5 me-auto" id="medCardAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#medCardCollapse" aria-expanded="true" aria-controls="medCardCollapse">
            Information about your medical card
          </button>
        </h2>
        <div id="medCardCollapse" class="accordion-collapse collapse" data-bs-parent="#medCardAccordion">
          <div class="accordion-body">
            <a class="btn btn-outline-dark mb-2" data-bs-toggle="collapse" href="#medHistory" role="button" aria-expanded="false" aria-controls="collapseExample">
              Medical history and anamnesis
            </a>

            <div class="collapse" id="medHistory">
              <div class="ps-5" *ngIf="medCard.medHistory === null">
                Empty
              </div>
              <div class="ps-5" *ngIf="medCard.medHistory !== null">
                {{ medCard.medHistory }}
              </div>
            </div>

            <br />

            <a class="btn btn-outline-dark mb-2" data-bs-toggle="collapse" href="#bloodType" role="button" aria-expanded="false" aria-controls="collapseExample">
              Blood type and Rh factor
            </a>

            <div class="collapse" id="bloodType">
              <div class="ps-5" *ngIf="medCard.bloodType === null || medCard.rhFactor === null">
                Empty
              </div>
              <div class="ps-5" *ngIf="medCard.bloodType !== null && medCard.rhFactor !== null">
                Blood type: {{ medCard.bloodType }} <br />
                Rh factor: {{ medCard.rhFactor }}
              </div>
            </div>

            <br />

            <a class="btn btn-outline-dark mb-2" data-bs-toggle="collapse" href="#allergies" role="button" aria-expanded="false" aria-controls="collapseExample">
              Allergies and reactions to medications
            </a>

            <div class="collapse" id="allergies">
              <div class="ps-5" *ngIf="medCard.allergies === null">
                Empty
              </div>
              <div class="ps-5" *ngIf="medCard.allergies !== null">
                {{ medCard.allergies }}
              </div>
            </div>

            <br />

            <a class="btn btn-outline-dark mb-2" data-bs-toggle="collapse" href="#chronicDiseases" role="button" aria-expanded="false" aria-controls="collapseExample">
              Chronic diseases
            </a>

            <div class="collapse" id="chronicDiseases">
              <div class="ps-5" *ngIf="medCard.chronicDiseases === null">
                Empty
              </div>
              <div class="ps-5" *ngIf="medCard.chronicDiseases !== null">
                {{ medCard.chronicDiseases }}
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="accordion col-5 ms-auto" id="prescriptionsAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#prescriptionsCollapse" aria-expanded="true" aria-controls="prescriptionsCollapse">
            Electronic appointments and prescriptions
          </button>
        </h2>
        <div id="prescriptionsCollapse" class="accordion-collapse collapse" data-bs-parent="#prescriptionsAccordion">
          <div class="accordion-body">
            
            <a class="btn btn-outline-dark mb-2" data-bs-toggle="collapse" href="#prescriptions" role="button" aria-expanded="false" aria-controls="collapseExample">
              Doctor's prescriptions and appointments
            </a>

            <div class="collapse" id="prescriptions">
              <div class="ps-5">
                Empty.
              </div>
            </div>

            <br />

            <a class="btn btn-outline-dark mb-2" data-bs-toggle="collapse" href="#instructions" role="button" aria-expanded="false" aria-controls="collapseExample">
              Dosages, administration instructions and frequency
            </a>

            <div class="collapse" id="instructions">
              <div class="ps-5">
                Empty.
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="accordion col-5 me-auto mt-5" id="historyAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#historyCollapse" aria-expanded="true" aria-controls="historyCollapse">
            History of visits
          </button>
        </h2>
        <div id="historyCollapse" class="accordion-collapse collapse" data-bs-parent="#historyAccordion">
          <div class="accordion-body">
            
            <a class="btn btn-outline-dark mb-2" data-bs-toggle="collapse" href="#datesOfPrevVisits" role="button" aria-expanded="false" aria-controls="collapseExample">
              Dates and descriptions of previous visits to doctors
            </a>

            <div class="collapse" id="datesOfPrevVisits">
              <div class="ps-5">
                Empty.
              </div>
            </div>
            
            <a class="btn btn-outline-dark mb-2" data-bs-toggle="collapse" href="#recommendations" role="button" aria-expanded="false" aria-controls="collapseExample">
              Treatment recommendations
            </a>

            <div class="collapse" id="recommendations">
              <div class="ps-5">
                Empty.
              </div>
            </div>

            <br />

          </div>
        </div>
      </div>
    </div>

    <div class="accordion col-5 ms-auto mt-5" id="analyzesAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#analyzesCollapse" aria-expanded="true" aria-controls="analyzesCollapse">
            Results of examinations and analyzes
          </button>
        </h2>
        <div id="analyzesCollapse" class="accordion-collapse collapse" data-bs-parent="#analyzesAccordion">
          <div class="accordion-body">

            <a class="btn btn-outline-dark mb-2" data-bs-toggle="collapse" href="#resultsOfExaminations" role="button" aria-expanded="false" aria-controls="collapseExample">
              Results of laboratory and instrumental examinations
            </a>

            <div class="collapse" id="resultsOfExaminations">
              <div class="ps-5" *ngIf="medCard.resultsOfSurveys === null">
                Empty
              </div>
              <div class="ps-5" *ngIf="medCard.resultsOfSurveys !== null">
                {{ medCard.resultsOfSurveys }}
              </div>
            </div>

            <br />

            <a class="btn btn-outline-dark mb-2" data-bs-toggle="collapse" href="#interpretationOfResults" role="button" aria-expanded="false" aria-controls="collapseExample">
              Physician interpretation of results
            </a>

            <div class="collapse" id="interpretationOfResults">
              <div class="ps-5">
                Empty.
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>