<div class="container">
  <div class="dropdown col-2 my-4 ms-auto">
    <button class="btn btn-primary dropdown-toggle col-12" type="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      Menu
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="home">Home</a></li>
      <li><a class="dropdown-item" href="home/profile">My profile</a></li>
      <li><a class="dropdown-item" href="#">Options</a></li>
      <li><a class="dropdown-item" href="#" (click)="authService.logOut()">Log out</a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      
      <div class="card" *ngIf="!isDoctor">
        <div class="card-header">
          User Profile
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item"><span class="float-right col-10">First Name: {{ this.userData.firstname
                }}</span></li>

            <li class="list-group-item"><span class="float-right col-10">Last Name: {{ this.userData.lastname }}</span>
            </li>

            <li class="list-group-item"><span class="float-right">Date of Birth: {{ this.userData.dateOfBirth }}</span>
            </li>

            <li class="list-group-item"><span class="float-right">Gender: {{ this.userData.gender }}</span></li>

            <li class="list-group-item"><span class="float-right col-10">Address: {{ this.userData.address }}</span>
            </li>

            <li class="list-group-item"><span class="float-right col-10">Email: {{ this.userData.email }}</span></li>

            <li class="list-group-item"><span class="float-right col-10">Phone: {{ this.userData.phone }}</span></li>
            <button class="btn btn-outline-dark col-3 ms-auto mt-3" data-bs-toggle="modal"
              data-bs-target="#updateModal"><i class="bi bi-pencil"></i> Change info</button>
          </ul>

          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><span class="float-right col-10">Your family doctor: {{
                  this.userData.familyDoctorId }}</span></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card" *ngIf="isDoctor">
        <div class="card-header">
          User Profile 
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item"><span class="float-right col-10">First Name: {{ doctorData.firstname }}</span></li>

            <li class="list-group-item"><span class="float-right col-10">Last Name: {{ doctorData.lastname }}</span></li>

            <li class="list-group-item"><span class="float-right">Date of Birth: {{ doctorData.dateOfBirth }}</span></li>

            <li class="list-group-item"><span class="float-right">Gender: {{ doctorData.gender }}</span></li>

            <li class="list-group-item"><span class="float-right col-10">Address: {{ doctorData.address }}</span>
            </li>

            <li class="list-group-item"><span class="float-right col-10">Email: {{ doctorData.email }}</span></li>

            <li class="list-group-item"><span class="float-right col-10">Phone: {{ doctorData.phone }}</span></li>

            <li class="list-group-item"><span class="float-right col-10">Specialization: {{ doctorData.specialization }}</span></li>

            <li class="list-group-item"><span class="float-right col-10">Place of work: {{ doctorData.placeOfWork }}</span></li>

            <li class="list-group-item"><span class="float-right col-10">License number: {{ doctorData.licenseNumber }}</span></li>

            <li class="list-group-item"><span class="float-right col-10">License issuing date: {{ doctorData.licenseIssuingDate }}</span></li>

            <li class="list-group-item"><span class="float-right col-10">License issuing authority: {{ doctorData.licenseIssuingAuthority }}</span></li>
            
            <button class="btn btn-outline-dark col-3 ms-auto mt-3" data-bs-toggle="modal"
              data-bs-target="#updateModalDoctor"><i class="bi bi-pencil"></i> Change info</button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- UPDATE USER MODAL -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true" *ngIf="!isDoctor">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModalLabel">Edit info</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form #updateForm="ngForm" (ngSubmit)="onUpdateUser(updateForm.value)">

        <div class="modal-body">
          <input ngModel="{{ userData.id }}" type="hidden" name="id" />

          <div class="mb-4 row">
            <label class="col-sm-6 col-form-label text-end" for="firstname">Firstname</label>
            <div class="col-sm-6 text-center">
              <input ngModel="{{ userData.firstname }}" #firstname="ngModel" type="text" name="firstname"
                class="form-control" placeholder="Firstname" />
            </div>
          </div>

          <div class="mb-4 row">
            <label class="col-sm-6 col-form-label text-end" for="lastname">Lastname</label>
            <div class="col-sm-6 text-center">
              <input ngModel="{{ userData.lastname }}" #lastname="ngModel" type="text" name="lastname"
                class="form-control" placeholder="Lastname" />
            </div>
          </div>

          <div class="mb-4 row">
            <label class="col-sm-6 col-form-label text-end" for="address">Address</label>
            <div class="col-sm-6 text-center">
              <input ngModel="{{ userData.address }}" #address="ngModel" type="text" name="address" class="form-control"
                placeholder="Address" />
            </div>
          </div>

          <div class="mb-4 row">
            <label class="col-sm-6 col-form-label text-end" for="email">Email</label>
            <div class="col-sm-6 text-center">
              <input ngModel="{{ userData.email }}" #email="ngModel" type="text" name="email" class="form-control"
                placeholder="Email" />
            </div>
          </div>

          <div class="mb-4 row">
            <label class="col-sm-6 col-form-label text-end" for="phone">Phone</label>
            <div class="col-sm-6 text-center">
              <input ngModel="{{ userData.phone }}" #phone="ngModel" type="text" name="phone" class="form-control"
                placeholder="Phone" />
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Save changes</button>
        </div>
      </form>

    </div>
  </div>
</div>


<!-- UPDATE DOCTOR MODAL -->
<div class="modal fade" id="updateModalDoctor" tabindex="-1" aria-labelledby="updateModalDoctorLabel" aria-hidden="true" *ngIf="isDoctor">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModalDoctorLabel">Edit info</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form #updateDoctorForm="ngForm" (ngSubmit)="onUpdateDoctor(updateDoctorForm.value)">

        <div class="modal-body">
          <input ngModel="{{ doctorData.id }}" type="hidden" name="id" />

          <div class="mb-4 row">
            <label class="col-sm-6 col-form-label text-end" for="firstname">Firstname</label>
            <div class="col-sm-6 text-center">
              <input ngModel="{{ doctorData.firstname }}" #firstname="ngModel" type="text" name="firstname"
                class="form-control" placeholder="Firstname" />
            </div>
          </div>

          <div class="mb-4 row">
            <label class="col-sm-6 col-form-label text-end" for="lastname">Lastname</label>
            <div class="col-sm-6 text-center">
              <input ngModel="{{ doctorData.lastname }}" #lastname="ngModel" type="text" name="lastname"
                class="form-control" placeholder="Lastname" />
            </div>
          </div>

          <div class="mb-4 row">
            <label class="col-sm-6 col-form-label text-end" for="address">Address</label>
            <div class="col-sm-6 text-center">
              <input ngModel="{{ doctorData.address }}" #address="ngModel" type="text" name="address" class="form-control"
                placeholder="Address" />
            </div>
          </div>

          <div class="mb-4 row">
            <label class="col-sm-6 col-form-label text-end" for="email">Email</label>
            <div class="col-sm-6 text-center">
              <input ngModel="{{ doctorData.email }}" #email="ngModel" type="text" name="email" class="form-control"
                placeholder="Email" />
            </div>
          </div>

          <div class="mb-4 row">
            <label class="col-sm-6 col-form-label text-end" for="phone">Phone</label>
            <div class="col-sm-6 text-center">
              <input ngModel="{{ doctorData.phone }}" #phone="ngModel" type="text" name="phone" class="form-control"
                placeholder="Phone" />
            </div>
          </div>

          <div class="mb-4 row">
            <label class="col-sm-6 col-form-label text-end" for="placeOfWork">Place of work</label>
            <div class="col-sm-6 text-center">
              <input ngModel="{{ doctorData.placeOfWork }}" #placeOfWork="ngModel" type="text" name="placeOfWork" class="form-control"
                placeholder="Place of work" />
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Save changes</button>
        </div>
      </form>

    </div>
  </div>
  </div>


