
<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
        </svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 brz">
        <li><a href="home" class="brz">Home</a></li>
        <li><a href="doctors-workplace" class="brz">Switch to workplace</a></li>
        <li><a href="home/profile" class="brz">My profile</a></li>
        <li><a href="#" class="brz">Options</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl brz">Health hub</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="home" class="brz">Home</a></li>
      <li><a href="doctors-workplace" class="brz">Switch to workplace</a></li>
      <li><a href="home/profile" class="brz">My profile</a></li>
      <li><a href="#" class="brz">Options</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn btn-primary brz" href="#" (click)="service.logOut()">Log out</a>
  </div>
</div>

<div class="container mx-auto">
  <article class="prose text-center mx-auto my-4">
    <h2>Patient Information</h2>
  </article>

    <div class="flex flex-row">
        <div class="card bg-base-200 shadow-xl mx-auto basis-1/3 p-4 brz">
          <article class="prose">
              <h3>Personal information</h3>
          </article>
              <p class="my-2"><b>Name:</b> {{ this.user.firstname }} {{ this.user.lastname }}</p>
              <p class="my-2"><b>Date of birth:</b> {{ this.user.dateOfBirth }}</p>
              <p class="my-2"><b>Gender:</b> {{ this.user.gender }}</p>
        </div>

      <div class="card bg-base-200 shadow-xl mx-auto basis-1/3 p-4 brz">
        <article class="prose">
          <h3>Contact information</h3>
        </article>
        <p class="my-2"><b>Email:</b> {{ this.user.email }}</p>
        <p class="my-2"><b>Phone:</b> {{ this.user.phone }}</p>
      </div>
    </div>


    <article class="prose text-center mx-auto mt-10 my-4">
      <h2>Medical information</h2>
    </article>

    <div class="card bg-base-300 shadow-md mx-auto my-3 p-5 brz">
      <span><a class="btn btn-primary btn-sm my-2 brz" (click)="bloodTypeModalIsOpen=true" onclick="bloodTypeModal.showModal()">Change</a></span>
      <span><b>Blood type: </b>
        <span *ngIf="this.medCard.bloodType == '' || this.medCard.bloodType == null">Empty</span>
        <span *ngIf="this.medCard.bloodType != '' || this.medCard.bloodType != null">{{ this.medCard.bloodType }}</span>
      </span>
    </div>

    <div class="card bg-base-300 shadow-md mx-auto my-3 p-5 brz">
      <span><a class="btn btn-primary btn-sm my-2 brz" (click)="rhFactorModalIsOpen=true" onclick="rhFactorModal.showModal()">Change</a></span>
      <span><b>Rh factor: </b>
        <span *ngIf="this.medCard.rhFactor == '' || this.medCard.rhFactor == null">Empty</span>
        <span *ngIf="this.medCard.rhFactor != '' || this.medCard.rhFactor != null">{{ this.medCard.rhFactor }}</span>
      </span>
    </div>

    <div class="card bg-base-300 shadow-md mx-auto my-3 p-5 brz">
      <span><a class="btn btn-primary btn-sm my-2 brz" (click)="medHistoryModalIsOpen=true" onclick="medHistoryModal.showModal()">Add</a></span>
      <b class="text-center text-xl mb-2">Med History</b>
      <span *ngIf="this.medCard.medHistory.length === 0" class="text-center">Empty</span>
      <table class="table table-zebra" *ngIf="this.medCard.medHistory.length !== 0">
          <thead>
              <tr class="bg-base-200">
                  <th>Disease</th>
                  <th>Description</th>
                  <th>Date of illness</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let medHistory of this.medCard.medHistory">
                  <td>{{ medHistory.disease }}</td>
                  <td>{{ medHistory.description }}</td>
                  <td>{{ medHistory.dateOfIllness }}</td>
              </tr>
          </tbody>
      </table>
    </div>

    <div class="card bg-base-300 shadow-md mx-auto my-3 p-5 brz">
      <span><a class="btn btn-primary btn-sm my-2 brz" (click)="allergiesModalIsOpen=true" onclick="allergiesModal.showModal()">Add</a></span>
      <b class="text-center text-xl mb-2">Allergies</b>
      <span *ngIf="this.medCard.allergies.length === 0" class="text-center">Empty</span>
      <table class="table table-zebra" *ngIf="this.medCard.allergies.length !== 0">
          <thead>
              <tr class="bg-base-200">
                  <th>Allergy</th>
                  <th>Description</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let allergy of this.medCard.allergies">
                  <td>{{ allergy.allergy }}</td>
                  <td>{{ allergy.description }}</td>
              </tr>
          </tbody>
      </table>
    </div>

    <div class="card bg-base-300 shadow-md mx-auto my-3 p-5 brz">
      <span><a class="btn btn-primary btn-sm my-2 brz" (click)="chronicDiseasesModalIsOpen=true" onclick="chronicDiseasesModal.showModal()">Add</a></span>
      <b class="text-center text-xl mb-2">Chronic diseases</b>
      <span *ngIf="this.medCard.chronicDiseases.length === 0" class="text-center">Empty</span>
      <table class="table table-zebra" *ngIf="this.medCard.chronicDiseases.length !== 0">
          <thead>
              <tr class="bg-base-200">
                  <th>Disease</th>
                  <th>Description</th>
                  <th>Date</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let chronicDisease of this.medCard.chronicDiseases">
                  <td>{{ chronicDisease.disease }}</td>
                  <td>{{ chronicDisease.description }}</td>
                  <td>{{ chronicDisease.date }}</td>
              </tr>
          </tbody>
      </table>
    </div>

    <div class="card bg-base-300 shadow-md mx-auto my-3 p-5 brz">
      <span><a class="btn btn-primary btn-sm my-2 brz" (click)="resultsOfSurveysModalIsOpen=true" onclick="resultsOfSurveysModal.showModal()">Add</a></span>
      <b class="text-center text-xl mb-2">Results of surveys</b>
      <span *ngIf="this.medCard.resultsOfSurveys.length === 0" class="text-center">Empty</span>
      <table class="table table-zebra" *ngIf="this.medCard.resultsOfSurveys.length !== 0">
          <thead>
              <tr class="bg-base-200">
                  <th>Title</th>
                  <th>Description</th>
                  <th>Survey's date</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let resultOfSurvey of this.medCard.resultsOfSurveys">
                  <td>{{ resultOfSurvey.title }}</td>
                  <td>{{ resultOfSurvey.description }}</td>
                  <td>{{ resultOfSurvey.surveysDate }}</td>
              </tr>
          </tbody>
      </table>
    </div>
</div>

<dialog id="medHistoryModal" class="modal">
  <div class="modal-box brz" *ngIf="medHistoryModalIsOpen">
    <h3 class="font-bold text-lg">Add disease</h3>
    <form #medHistory="ngForm" (ngSubmit)="addMedHistory(medHistory)">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Disease: </span>
        </div>
        <input type="text" name="disease" class="input input-bordered w-full max-w-xs brz" ngModel #disease="ngModel" />
      </label>

      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Description: </span>
        </div>
        <textarea name="description" class="textarea textarea-bordered max-h-52 brz" ngModel #description="ngModel"></textarea>
      </label>

      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Date of illness: </span>
        </div>
        <input type="date" name="dateOfIllness" class="input input-bordered w-full max-w-xs brz" ngModel #dateOfIllness="ngModel" />
      </label>

      <div class="modal-action">
          <button type="button" class="btn btn-secondary brz"
                  onclick="medHistoryModal.close()" (click)="medHistoryModalIsOpen=false">Close</button>
          <button type="submit" class="btn btn-primary brz">Save and add</button>
      </div>
    </form>
  </div>
</dialog>

<dialog id="bloodTypeModal" class="modal">
  <div class="modal-box brz" *ngIf="bloodTypeModalIsOpen">
    <h3 class="font-bold text-lg">Change blood type</h3>
    <form #bloodTypeForm="ngForm" (ngSubmit)="changeBloodType(bloodTypeForm)">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Blood type: </span>
        </div>
        <input type="text" name="bloodType" class="input input-bordered w-full max-w-xs brz" ngModel #bloodType="ngModel" />
      </label>

      <div class="modal-action">
        <button type="button" class="btn btn-secondary brz"
                onclick="bloodTypeModal.close()" (click)="bloodTypeModalIsOpen=false">Close</button>
        <button type="submit" class="btn btn-primary brz">Save and add</button>
      </div>
    </form>
  </div>
</dialog>

<dialog id="rhFactorModal" class="modal">
  <div class="modal-box brz" *ngIf="rhFactorModalIsOpen">
    <h3 class="font-bold text-lg">Change rh factor</h3>
    <form #rhFactorForm="ngForm" (ngSubmit)="changeRhFactor(rhFactorForm)">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Rh factor: </span>
        </div>
        <input type="text" name="rhFactor" class="input input-bordered w-full max-w-xs brz" ngModel #rhFactor="ngModel" />
      </label>

      <div class="modal-action">
        <button type="button" class="btn btn-secondary brz"
                onclick="rhFactorModal.close()" (click)="rhFactorModalIsOpen=false">Close</button>
        <button type="submit" class="btn btn-primary brz">Save and add</button>
      </div>
    </form>
  </div>
</dialog>

<dialog id="allergiesModal" class="modal">
  <div class="modal-box brz" *ngIf="allergiesModalIsOpen">
    <h3 class="font-bold text-lg">Add allergy</h3>
    <form #allergyForm="ngForm" (ngSubmit)="addAllergy(allergyForm)">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Allergy: </span>
        </div>
        <input type="text" name="allergy" class="input input-bordered w-full max-w-xs brz" ngModel #allergy="ngModel" />
      </label>

      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Description: </span>
        </div>
        <textarea name="description" class="textarea textarea-bordered max-h-52 brz" ngModel #description="ngModel"></textarea>
      </label>

      <div class="modal-action">
        <button type="button" class="btn btn-secondary brz"
                onclick="allergiesModal.close()" (click)="allergiesModalIsOpen=false">Close</button>
        <button type="submit" class="btn btn-primary brz">Save and add</button>
      </div>
    </form>
  </div>
</dialog>

<dialog id="chronicDiseasesModal" class="modal">
  <div class="modal-box brz" *ngIf="chronicDiseasesModalIsOpen">
    <h3 class="font-bold text-lg">Add chronic disease</h3>
    <form #chronicDiseaseForm="ngForm" (ngSubmit)="addChronicDisease(chronicDiseaseForm)">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Disease: </span>
        </div>
        <input type="text" name="disease" class="input input-bordered w-full max-w-xs brz" ngModel #disease="ngModel" />
      </label>

      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Description: </span>
        </div>
        <textarea name="description" class="textarea textarea-bordered max-h-52 brz" ngModel #description="ngModel"></textarea>
      </label>

      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Date: </span>
        </div>
        <input type="date" name="date" class="input input-bordered w-full max-w-xs brz" ngModel #date="ngModel" />
      </label>

      <div class="modal-action">
        <button type="button" class="btn btn-secondary brz"
                onclick="chronicDiseasesModal.close()" (click)="chronicDiseasesModalIsOpen=false">Close</button>
        <button type="submit" class="btn btn-primary brz">Save and add</button>
      </div>
    </form>
  </div>
</dialog>

<dialog id="resultsOfSurveysModal" class="modal">
  <div class="modal-box brz" *ngIf="resultsOfSurveysModalIsOpen">
    <h3 class="font-bold text-lg">Add result</h3>
    <form #resultOfSurveyForm="ngForm" (ngSubmit)="addResultOfSurvey(resultOfSurveyForm)">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Title: </span>
        </div>
        <input type="text" name="title" class="input input-bordered w-full max-w-xs brz" ngModel #title="ngModel" />
      </label>

      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Description: </span>
        </div>
        <textarea name="description" class="textarea textarea-bordered max-h-52 brz" ngModel #description="ngModel"></textarea>
      </label>

      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Survey's date: </span>
        </div>
        <input type="date" name="surveysDate" class="input input-bordered w-full max-w-xs brz" ngModel #surveysDate="ngModel" />
      </label>

      <div class="modal-action">
        <button type="button" class="btn btn-secondary brz"
                onclick="resultsOfSurveysModal.close()" (click)="resultsOfSurveysModalIsOpen=false">Close</button>
        <button type="submit" class="btn btn-primary brz">Save and add</button>
      </div>
    </form>
  </div>
</dialog>

