<div class="container">
    <div class="row">
        <div class="col-2 me-auto mb-5">
            <a class="btn btn-primary" href="doctors-workplace">Back</a>
        </div>
        <div class="dropdown col-2 ms-auto mb-5">
            <button class="btn btn-primary dropdown-toggle col-12" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
            </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="home">Home</a></li>
            <li><a class="dropdown-item" href="home/profile">My profile</a></li>
            <li><a class="dropdown-item" href="#">Options</a></li>
            <li><a class="dropdown-item" href="#" (click)="service.logOut()">Log out</a></li>
            </ul>
        </div>
    </div>
    <h3>Patient Information</h3>

    <div class="card p-3" >
        <div class="row">
            <div class="col-6">
                <h4>Personal information</h4>
                <div>
                    <p><b>Name:</b> {{ this.user.firstname }} {{ this.user.lastname }}</p>
                </div>
                <div>
                    <p><b>Date of birth:</b> {{ this.user.dateOfBirth }}</p>
                </div>
                <div>
                    <p><b>Gender:</b> {{ this.user.gender }}</p>
                </div>
            </div>
            
            <div class="col-6">
                <h4>Contact information</h4>
                <div>
                    <p><b>Email:</b> {{ this.user.email }}</p>
                </div>
                <div>
                    <p><b>Phone:</b> {{ this.user.phone }}</p>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div>
                <h4>Medical information</h4>
                <div>
                    <div><b>Med History: </b>
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th>Disease</th>
                                    <th>Date of illness</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <!--<span *ngIf="this.medCard.medHistory === null">Empty</span>
                        <span *ngIf="this.medCard.medHistory !== null">{{ this.medCard.medHistory }}</span>
                        <span><a class="bi bi-pencil ps-1"></a></span>-->
                    </div>
                </div>
                <div>
                    <p><b>Blood type: </b>
                        <span *ngIf="this.medCard.bloodType === null">Empty</span>
                        <span *ngIf="this.medCard.bloodType !== null">{{ this.medCard.bloodType }}</span>
                        <span><a class="bi bi-pencil ps-1"></a></span>
                    </p>
                </div>

                <div>
                    <p><b>Rh factor: </b>
                        <span *ngIf="this.medCard.rhFactor === null">Empty</span>
                        <span *ngIf="this.medCard.rhFactor !== null">{{ this.medCard.rhFactor }}</span>
                        <span><a class="bi bi-pencil ps-1"></a></span>
                    </p>
                </div>

                <div>
                    <p><b>Allergies: </b>
                        <span *ngIf="this.medCard.allergies === null">Empty</span>
                        <span *ngIf="this.medCard.allergies !== null">{{ this.medCard.allergies }}</span>
                        <span><a class="bi bi-pencil ps-1"></a></span>
                    </p>
                </div>

                <div>
                    <p><b>Chronic diseases: </b>
                        <span *ngIf="this.medCard.chronicDiseases === null">Empty</span>
                        <span *ngIf="this.medCard.chronicDiseases !== null">{{ this.medCard.chronicDiseases }}</span>
                        <span><a class="bi bi-pencil ps-1"></a></span>
                    </p>
                </div>

                <div>
                    <p><b>Results of surveys: </b>
                        <span *ngIf="this.medCard.resultsOfSurveys === null">Empty</span>
                        <span *ngIf="this.medCard.resultsOfSurveys !== null">{{ this.medCard.resultsOfSurveys }}</span>
                        <span><a class="bi bi-pencil ps-1"></a></span>
                    </p>
                </div>

            </div>
        </div>
    </div>

   
</div>