<div class="container">
    <div class="row">
        <div class="col-6 mt-5">
            <div class="col-10">
            <h3 class="mx-auto">Login</h3>
            <form #loginForm="ngForm" (ngSubmit)="validateUser(loginForm)">
                <div class="row">
                    <label for="email" class="form-label col-3">Username</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="email" name="email" ngModel #email="ngModel" />
                    </div>
                </div>

                <div class="row mt-4">
                    <label for="password" class="form-label col-3">Password</label>
                    <div class="col-8">
                        <input type="password" class="form-control" id="password" name="password" ngModel #password="ngModel" />
                    </div>
                </div>

                <button type="submit" class="btn btn-dark mt-3">Login</button>
            </form>
            </div>
        </div>

        <div class="col-6 mt-5">
            <div class="col-10">
            <h3 class="mx-auto">Registration</h3>
            <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">
                <div class="row">
                    <label for="firstName" class="form-label col-3">First name</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="firstName" name="firstName" ngModel #firstName="ngModel" />
                    </div>
                </div>

                <div class="row mt-4">
                    <label for="lastName" class="form-label col-3">Last name</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="lastName" name="lastName" ngModel #lastName="ngModel" />
                    </div>
                </div>

                <div class="row mt-4">
                    <label for="dateOfBirth" class="form-label col-3">Date of birth</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth" ngModel #dateOfBirth="ngModel" />
                    </div>
                </div>

                <div class="row mt-4">
                    <label for="gender" class="form-label col-3">Gender</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="gender" name="gender" ngModel #gender="ngModel" />
                    </div>
                </div>

                <div class="row mt-4">
                    <label for="address" class="form-label col-3">Address</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="address" name="address" ngModel #address="ngModel" />
                    </div>
                </div>

                <div class="row mt-4">
                    <label for="email" class="form-label col-3">Email</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="email" name="email" ngModel #email="ngModel" />
                    </div>
                </div>

                <div class="row mt-4">
                    <label for="phone" class="form-label col-3">Phone number</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="phone" name="phone" ngModel #phone="ngModel" />
                    </div>
                </div>

                <div class="row mt-4">
                    <label for="password" class="form-label col-3">Password</label>
                    <div class="col-8">
                        <input type="password" class="form-control" id="password" name="password" ngModel #password="ngModel" />
                    </div>
                </div>

                <button type="submit" class="btn btn-dark mt-3">Sign up</button>
            </form>
            </div>
        </div>
    </div>
</div>