<div class="container">
    <div class="col-4 mt-5">
        <h3 class="mx-auto">Login</h3>
        <form #loginForm="ngForm" (ngSubmit)="validateUser(loginForm)">
            <div class=" row">
                <label for="email" class="form-label col-3">Username</label>
                <div class="col-8">
                    <input type="text" class="form-control" id="email" name="email" ngModel #email="ngModel" />
                </div>
                
            </div>

            <div class=" row mt-4">
                <label for="password" class="form-label col-3">Password</label>
                <div class="col-8">
                    <input type="password" class="form-control" id="password" name="password" ngModel #password="ngModel" />
                </div>
            </div>

            <button type="submit" class="btn btn-dark mt-3">Login</button>
        </form>
    </div>

   

</div>