  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
          </svg>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 brz">
          <li><a href="home" class="brz">Home</a></li>
          <li><a href="doctors-workplace" class="brz">Switch to workplace</a></li>
          <li><a href="home/profile" class="brz">My profile</a></li>
          <li><a href="#" class="brz">Options</a></li>
        </ul>
      </div>
      <a class="btn btn-ghost text-xl brz">Health hub</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="home" class="brz">Home</a></li>
        <li><a href="doctors-workplace" class="brz">Switch to workplace</a></li>
        <li><a href="home/profile" class="brz">My profile</a></li>
        <li><a href="#" class="brz">Options</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <a class="btn btn-primary brz" href="#" (click)="service.logOut()">Log out</a>
    </div>
  </div>

<div class="container mx-auto">
  <article class="prose">
    <h2>Patient List</h2>
  </article>
  <a class="btn btn-neutral brz my-3" (click)="searchPatientModalIsOpen = true" onclick="search_patient.showModal()">Add new patient</a>
  <div class="form-control flex flex-row my-3">
    <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
      <input type="text" name="query" placeholder="Search (By name or unique ID)" class="input input-bordered w-64 brz" ngModel #query="ngModel" />
      <input type="submit" value="Find" class="btn btn-primary brz ms-5" *ngIf="!searchForm.submitted">
      <input type="button" class="btn btn-primary brz ms-5" value="Clear" *ngIf="searchForm.submitted" (click)="getDoctorsUsers(); searchForm.resetForm()">
    </form>
  </div>
    <table class="table table-zebra">
      <thead>
        <tr>
          <th>№</th>
          <th>Name</th>
          <th>Unique ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients; index as i;" (click)="viewPatientDetails(patient.id)" class="hover">
          <td>{{i+1}}</td>
          <td>{{ patient.firstname + " " + patient.lastname }}</td>
          <td>{{ patient.uuid }}</td>
        </tr>
      </tbody>
    </table>
</div>




<dialog id="search_patient" class="modal">
  <div class="modal-box" *ngIf="searchPatientModalIsOpen">
    <h3 class="font-bold text-lg">Add new patient</h3>
    <form #findByUuidForm="ngForm" (ngSubmit)="findPatientByUuid(findByUuidForm.value)">
      <input type="text" placeholder="Unique identificator" class="input input-bordered my-5"
             name="uuid" id="uuid" ngModel #uuid="ngModel" />
      <input type="submit" (click)="foundUserModalIsOpen = true;" onclick="search_patient.close(); found_user.showModal()"  value="Find" class="btn ms-4" />
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>


 <!--

 TODO
 закончить модальное окно
 добавить поиск по имени, выдача результата в виде таблицы с основной информацией
 добавить функцию вычисления возраста человека основываясь на дате рождения

 -->

<dialog id="found_user" class="modal">
  <div class="modal-box" *ngIf="foundUserModalIsOpen">
    <h3 class="font-bold text-lg">Patient info</h3>
    <p class="py-4"><b>Name:</b> {{ foundUser.firstname }} {{ foundUser.lastname }}</p>
    <p class="py-4"><b>Date of birth:</b> {{ foundUser.dateOfBirth }}</p>
    <p class="py-4"><b>Gender:</b> {{ foundUser.gender }}</p>
    <p class="py-4"><b>Address:</b> {{ foundUser.address }}</p>
    <p class="py-4"><b>Email:</b> {{ foundUser.email }}</p>
    <p class="py-4"><b>Phone:</b> {{ foundUser.phone }}</p>

    <div class="modal-action">
      <form method="dialog">
        <button class="btn mx-2" (click)="foundUserModalIsOpen = false;searchPatientModalIsOpen = true" onclick="search_patient.showModal(); found_user.close();">Back</button>
        <button class="btn btn-success mx-2" (click)="addPatientToDoctor(foundUser); foundUserModalIsOpen = false;" onclick="found_user.close()">Add patient</button>
      </form>
    </div>
  </div>
</dialog>

