<div class="container">
    <div class="dropdown col-2 ms-auto mb-5">
        <button class="btn btn-primary dropdown-toggle col-12" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Menu
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="home">Home</a></li>
          <li><a class="dropdown-item" href="home/profile">My profile</a></li>
          <li><a class="dropdown-item" href="#">Options</a></li>
          <li><a class="dropdown-item" href="#" (click)="service.logOut()">Log out</a></li>
        </ul>
    </div>

    <h1>Patient List</h1>
    <input type="text" placeholder="Search">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients" (click)="viewPatientDetails(patient.id)">
          <td>{{ patient.firstname + " " + patient.lastname }}</td>
          <td>{{ patient.uuid }}</td>
        </tr>
      </tbody>
    </table>
</div>